body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./img/trainstation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mycontainer {
    max-width: 720px;
    margin: 0 auto;
}

.btn1 {
    background-color: rgb(2, 145, 2);
}
.btn1:hover {
    background-color: rgb(1, 129, 1);
}

.btn2 {
    background-color: rgb(68, 68, 68);
}
.btn2:hover {
    background-color: rgb(48, 48, 48);
}

.cent {
    margin: 0 auto;
    height: 100%;
}

.cancella {
    text-decoration: line-through;
}

.myborder1 {
    /* border: 1px solid black;
    border-radius: 10px;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0.5rem 1rem #242424; */
    background-color: rgba(195, 195, 195, 0);
}

.myborder {
    /* border: 1px solid black;
    border-bottom: 0px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0.5rem 1rem #242424; */
    background-color: rgba(195, 195, 195, 0);
}

@media  screen and (max-width: 480px) {
    .mycontainer {
        max-width: 350px;
        margin: 0 auto;
    }
}